.navbar .nav>li>a {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hero-unit p {
  padding: 5px 0px;
}

.hero-unit {
  padding: 30px;
}

.hero-unit .navbar {
  padding-top: 11px;
}

.well {
  margin-top: 15px;
}

.well img {
  margin: 2px;
}

#meetup {
  border:1px solid #aaa;
  padding-top: 5px;
  padding-bottom: 5px;
}

iframe {
  border:1px solid #aaa;
}

.speaker {
  margin: 10px 20px 10px 0px;
  list-style: none;
}

.speakers {
  margin: 0px;
}

h1.page-header {
  margin-top: 40px;
}

.carousel {
  margin-bottom: 0px;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
  color: #A90F3D;
}

a {
  color: #777;
}

a:focus, a:hover {
  color: #A90F3D;
}
