---
layout: default
title: #bristech
---

<div id="home">
  <h1 class="page-header">Next Session...</h1>
  {% assign display = true %}
  {% for post in site.categories['event'] reversed %}
    {% if post.categories contains 'archive' %}
    {% elsif display %}
      {% assign display = false %}
      <h3><a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a></h3>
      <p><small>Tagged with: {{ post.tags | join: ', ' }}</small></p>
      {{ post.content }}
    {% else %}
    {% endif %}
  {% endfor %}

  {% if display %}
  <p>Please check back soon for information about the next session.</p>
  {% endif %}



  <h1 class="page-header">News</h1>
  {% for post in site.categories['news'] %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <span><small>Posted by {{ post.author }} on {{ post.date | date_to_string }}</small></span>
    <br>
    <br>
    {{ post.content }}
    <hr>
  {% endfor %}
</div>
