---
layout: default
title: #bristech
---

<div id="home">
	<h1>Tech events on the first Thursday of every month @ The EngineShed, Bristol</h1>

	<h2 class="page-header">Next Session...</h2>

  {% assign display = true %}
  {% for post in site.categories['event'] reversed %}
    {% if post.categories contains 'archive' %}
    {% elsif display %}
      {% assign display = false %}
      <h3>
        <a href="{{ post.url }}">1900-2100 Thursday {{ post.date | date_to_string }} - {{ post.title }}</a>
        {% if post.meetupid != null %}
        <a href="http://www.meetup.com/bristech/events/{{ post.meetupid }}/" data-event="{{ post.meetupid }}" class="mu-rsvp-btn">RSVP</a>
        {% endif %}
      </h3>
      <p><small>Tagged with: {{ post.tags | join: ', ' }}</small></p>
      {{ post.content }}
    {% else %}
    {% endif %}
  {% endfor %}

  {% if display %}
  <p>Please check back soon for information about the next session.</p>
  {% endif %}



  <h1 class="page-header">News</h1>
  {% for post in site.categories['news'] %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <span><small>Posted by {{ post.author }} on {{ post.date | date_to_string }}</small></span>
    <br>
    <br>
    {{ post.content }}
    <hr>
  {% endfor %}
</div>
