---
layout: default
title: #bristech - Speakers
---

<div id="home">
  <h1>Speakers</h1>
  <ul class="speakers">
  {% for post in site.categories['speakers'] reversed %}
    {% assign avatar = '/img/avatars/no-avatar.png' %}
    {% if post.avatar != null %}
    {% assign avatar = post.avatar %}
    {% endif %}
    <li class="speaker well pull-left span3"><a href="{{ post.url }}">
      <div style="background-image: url({{ avatar }}); background-size: 80px 80px; background-repeat: no-repeat; height: 80px; padding-left: 85px; display: table">
        <div style="display: table-cell; vertical-align: middle">{{ post.title }}</div>
      </div>
    </a></li>
  {% endfor %}
  </ul>
</div>
