---
layout: default
---
<div class="well pull-right">
  {% if page.avatar != null %}
    <img src="{{ page.avatar }}">
  {% else %}
    <img src="/img/no-avatar.png">
  {% endif %}
</div>
<h2>{{ page.title }}</h2>
<div id="post">
{{ content }}
</div>

{% assign gotprevious = false %}
{% assign gotcomingup = false %}
{% for post in site.posts %}
{% if post.speakers contains page.speakerid %}
{% if post.categories contains 'archive' %}
{% assign gotprevious = true %}
{% else %}
{% assign gotcomingup = true %}
{% endif %}
{% endif %}
{% endfor %}

{% if gotcomingup %}
<div>
  <h3>Coming Up...</h3>
  <ul>
  {% for post in site.categories.event %}
  {% if post.categories contains 'archive' %}
  {% elsif post.speakers contains page.speakerid %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if gotprevious %}
<div>
  <h3>Previous Talks</h3>
  <ul>
  {% for post in site.categories.archive %}
  {% if post.speakers contains page.speakerid %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}
